body {
  font-size: 36px;
  font-weight: 100%;
  background-color: lightsteelblue;
}

.gameTitle {
  font-size: 2rem;
  width: 300px;
  text-decoration: underline black;
  background-color: lightsalmon;
}

div {
  width: 550px;
}

.rules {
  font-size: 1.5rem;
  text-decoration: underline black;
}

.descript {
  float: left;
  background-color: lightgray;
}

.rngTop {
  background-color: red;
}

.rngShown {
  height: 100px;
}

.winLoss {
  background-color: yellow;
  width: 550px;
  float: left;
  width: 100px;
}

.totalScoreTop {
  background-color: green;
}

.totalScoreShown {
  height: 100px;
}

.gems {
  background-color: gold;
  height: 145px;
}

.gem1, .gem2, .gem3, .gem4 {
  height: 125px;
  width: 125px;
  margin-top: 10px;
  display: inline-block;
  margin-left: 7.5px;
}